* {
  box-sizing: border-box;
}

article {
  margin-inline: auto;
  max-width: 900px;
  width: 98%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* 

CODE

*/
.table-attribute {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.table-attribute th {
  border-top: 2px solid blue;
  padding-block: 5px;
}

.table-attribute th:nth-child(2) {
  border-right: 2px solid blue;
  border-left: 2px solid blue;
}

.table-attribute .tr-header {
  text-align: center;
}

.tr-header td {
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
}

.tr-header td:nth-child(2) {
  border-right: 2px solid blue;
  border-left: 2px solid blue;
}

.table-attribute th:first-child,
.td-header td:first-child {
  width: 40%;
  word-break: break-all;
}

tbody:last-child .td-desc {
  border-bottom: 2px solid blue;
}

.td-header td:first-child code {
  word-break: break-all;
}
